---
import Layout from "../layouts/Layout.astro";
import FindCommunity from "../components/FindCommunity.astro";
import Memberfavsection from "../components/Memberfavsection.astro";
---

<Layout>
  <FindCommunity />
  <div></div>
  <Memberfavsection />
</Layout>

<style>
  div {
    margin: 145px;
  }
</style>
