---
import Layout from "../layouts/Layout.astro";
---

<Layout titel="Handelsbetingelser">
  <main>
    <h1>Handelsbetingelser</h1>
    <p><strong>Another Closet, ejes af Another Closet ApS</strong></p><p>
      Tønsbergvej 104<br />4000 Roskilde<br />TLF: <a href="tel:53566020"
        >53566020</a
      ><br />CVR: 44995875
    </p><p><strong>Generelt</strong></p><p>
      Another Closet stiller et abonnement baseret online tjeneste til rådighed
      på www.anothercloset.dk. Vilkårene er gældende mellem den enkelte bruger
      og Another Closet ApS.
    </p><p>
      Disse vilkår og betingelser for brug gælder for aftaler mellem Another
      Closet ApS og én fysisk person (herefter “Brugeren”) vedrørende Tjenesten.
      Kun personer, der er 18 år eller ældre og bor i Danmark, kan indgå en
      aftale med Another Closet ApS vedrørende Tjenesten.
    </p><p>
      Disse Betingelser udgør samlet den aftale, der er gældende mellem Brugeren
      og Another Closet ApS. For at få adgang til Tjenesten, skal Brugeren læse
      og acceptere handelsbetingelserne.
    </p><p><strong>Ydelsens omfang</strong></p><p>
      Tjenesten giver Brugeren adgang til lån og leje af tøj dvs. Another Closet
      ApS’ tjenester bestemt ved bestilling.
    </p><p>
      Du accepterer og anerkender, at du lejer produkterne, og at ejerskabet til
      produkterne forbliver hos Another Closet ApS på alle tidspunkter.
    </p><p><strong>Adgang til tjenesten</strong></p><p>
      Brugeren skal for at få adgang til Tjenesten registrere en brugerkonto på
      portalen.
    </p><p><strong>Registrering og brugeradgang</strong></p><p>
      Brugeren er ansvarlig for at sikre, at de angivne oplysninger er korrekte
      på registreringstidspunktet. Ved registrering må Brugeren kun give
      oplysninger vedrørende egne betalings- og kreditkort.
    </p><p>
      Ved registrering skal Brugeren angive et brugernavn og et password
      (herefter “Login Oplysninger”). Brugerens Login Oplysninger er personlige
      og må ikke bruges af andre med mindre andet er anført på produktet.
    </p><p>
      Brugeren skal opbevare Login Oplysningerne på et sikkert sted, således at
      andre ikke kan få uberettiget adgang til dem. Brugeren er ansvarlig for al
      brug af sin brugerkonto.
    </p><p>
      Hvis Brugeren får mistanke om ulovlig brug af Brugerens Login Oplysninger,
      skal Brugeren omgående underrette Another Closet ApS samt ændre sit
      password.
    </p><p><strong>Gebyrer og Betaling</strong></p><p>
      Gebyrer for brug af Tjenesten skal betales i henhold til den til enhver
      tid gældende prisliste, der er tilgængelig på hjemmesiden. Betaling for
      abonnementet sker forud hver måned.
    </p><p>
      Brugeren skal udføre betalingen for abonnementet via de af Another Closet
      ApS tilbudte betalingsmidler på hjemmesiden. Brugeren forpligter sig til
      at underskrive de nødvendige dokumenter, og til ved hver betalingsdato at
      have tilstrækkelige midler til betaling tilgængelige via det valgte
      betalingsmiddel.
    </p><p><strong>Tilpasninger og ændringer</strong></p><p>
      Another Closet ApS forbeholder sig retten til at ændre gebyret og andre
      betingelser for Tjenesten. Ændringen skal meddeles til Brugeren senest
      tredive (30) dage inden ændringen træder i kraft. I tilfælde af sådanne
      ændringer er Brugeren berettiget til at opsige abonnementet med virkning
      fra den dag, hvor ændringen træder i kraft. Hvis Brugeren ikke opsiger
      abonnementet før ændringen træder i kraft, skal det betragtes som accept
      af ændringen. Ændringer, der er til åbenbar fordel for Brugeren, gælder
      med det samme uden opsigelsesret for Brugeren.
    </p><p><strong>Opsigelse af abonnement</strong></p><p>
      Opsigelse af Tjenesten kan ske ved udgang af betalings-perioden på 1 måned
      fra seneste betaling. For at opsige sin aftale skal man selv gå ind og
      afmelde sit abonnement samt kontakte Another Closet ApS via
      hej@anothercloset.dk
    </p><p>
      Ved opsigelse skal du sende dit tøj retur, så vi har det retur senest den
      1. i næste måned efter abonnementets ophør. Modtager vi ikke tøjet
      rettidigt forbeholder vi os retten til at hæve kr. 100,- DKK per dag per
      stykke tøj, som du mangler at returnere. Vi vil dog højest hæve et beløb
      svarende til varens vurderede butikspris.
    </p><p><strong>Brug af tøjet</strong></p><p>
      Tøj skal bruges, men det er selvfølgelig vigtig at du passer på det og
      returnerer det i stort samme stand som du modtog det. Meget af tøjet må du
      gerne selv vaske, men du bedes følge vaskeanvisningerne nøje. Er du i
      tvivl konktakt os på hej@anothercloset.dk. Noget af vores tøj må
      udelukkende renses. Vurderer du at det er nødvendigt at det tøj du har
      brugt bliver renset, kontakt hej@anothercloset.dk inden aflevering.
    </p><p>
      Mindre slitage som følge af almindeligt brug af tøjet medfører naturligvis
      ikke nogen ekstra omkostninger for dig. Almindeligt slitage kan være en
      syning, der er gået op eller en knap, der er faldet af.
    </p><p><strong>Beskadiget eller bortkommet tøj</strong></p><p>
      Hvis dit lejede tøj forsvinder eller ødelægges på en sådan måde, at vi
      ikke kan reparere det og derfor ikke kan udleje det igen, er du
      erstatningsansvarlig. Herunder hører også forkert vask af tøjet, som
      f.eks. har medført at tøjet er krympet eller blevet misfarvet. Du kan få
      lov at købe tøjet af os svarende til tøjets butikspris minus din leje. Du
      er fuldt ud ansvarlig for tab, ødelæggelse eller skade på produkter på
      grund af tyveri, bortkomst, brand, huller, pletter som vi ikke kan fjerne
      eller enhver anden årsag end normalt slid.
    </p><p>
      Hvis du ikke betaler det beløb, du skylder os i rette tid, kan vi vælge at
      bringe sagen til inkasso. Du accepterer at betale omkostningerne herfor.
    </p><p><strong>Betaling</strong></p><p>
      Another Closet modtager online betalinger med Visa/Dankort.
    </p><p>
      Betaling vil først blive trukket på din konto, når den fysiske vare
      afsendes eller det virtuelle produkt er oprettet med mindre andet er
      aftalt eller fremgår af din ordre.
    </p><p>Alle beløb på hjemmesiden er inklusiv moms.</p><p>
      Hjemmesiden bruger følgende valutaer til prissætning:<br />Denmark –
      Kroner (DKK)
    </p><p>
      Another Closet benytter en sikker betalingsserver, der krypterer alle
      oplysninger med SSL protokol hvilket betyder din data er sikker og ikke
      kan læses af andre udefrakommende.
    </p><p>
      Another Closet’s egen hjemmeside bruger ligeledes kryptering med SSL
      protokol.
    </p><p><strong>Fortrydelsesret</strong></p><p>
      Der gives 14 dages fuld returret på varer købt på hjemmesiden med mindre
      andet er aftalt eller fremgår af din ordre.
    </p><p>Den 14 dags periode starter den dag hvor ordren er leveret.</p><p>
      Eventuelle returneringsomkostninger afholder du selv.
    </p><p>
      Ønske om fortrydelse skal meddeles os senest 14 efter leveringen og være
      os i hænde seneste 14 dage efter vi er informeret om dit brug af
      fortrydelsesretten.
    </p><p>
      Ønske om brug af fortrydelsesret skal gives sendes på mail
      hej@anothercloset.dk. I meddelelsen skal der gøres tydeligt opmærksom på
      dit ønske om brugen af fortrydelsesret.
    </p><p><strong>Reklamationsret</strong></p><p>
      Der gives 2 års reklamationsret på produkter i henhold til den danske
      købelov. Reklamationsretten gælder for alle fejl i software, materiale og
      fabrikation.
    </p><p>
      Reklamation vedr. fejl og mangler skal meddeles til Another Closet ApS i
      rimelig tid efter varens modtagelse. Her anses max. to måneder som rimelig
      tid, med mindre andet er aftalt. Vi refunderer rimelige fragtomkostninger.
    </p><p>
      Reklamationen frafalder ved forkert eller ualmindelig betjening af
      produktet.
    </p><p>Brugeren dækker returneringsomkostningerne i rimeligt omfang.</p><p>
      Ved returnering kontaktes virksomheden:
    </p><p>Another Closet ApS<br />Tønsbergvej 104<br />TLF: 53566020</p><p>
      Reklamationer modtages ikke hvis disse er sendt på efterkrav.
    </p><p><strong>Kunde- &amp; Privatlivspolitik</strong></p><p>
      Vi videresælger ikke personlige oplysninger og videregiver ikke dine
      personlige oplysninger til andre, de er kun registreret i vores
      kundekartotek. Du kan til enhver tid få slettet dine oplysninger.
    </p><p>
      For at du kan indgå aftale med Another Closet ApS, har vi brug for
      følgende oplysninger:
    </p><p>
      - Navn<br />- Adresse<br />- Telefonnummer<br />- E-mail adresse
    </p><p>
      Vi foretager registreringen af dine personoplysninger med det formål, at
      kunne levere varen til dig.
    </p><p>
      Personoplysningerne registreres hos Another Closet ApS og opbevares i op
      til fem år, hvorefter oplysningerne slettes.
    </p><p>
      Når der indsamles personoplysninger via vores hjemmeside, sikrer vi, at
      det altid sker ved afgivelse af dit udtrykkelige samtykke, således at du
      er informeret om præcis, hvilke oplysninger, der indsamles og hvorfor.
    </p><p>
      Direktøren og de ansatte for Another Closet ApS har adgang til de
      oplysninger, der registreres om dig.
    </p><p>Den dataansvarlige i Another Closet ApS er: Tina Werborg</p><p>
      Vi opbevarer og transmitterer ikke kundeoplysninger krypteret.
    </p><p>
      Som registreret hos Another Closet ApS har du altid ret til at gøre
      indsigelse mod registreringen. Du har også ret til indsigt i, hvilke
      oplysninger, der er registreret om dig. Disse rettigheder har du efter
      Persondataloven og henvendelse i forbindelse hermed rettes til
      hej@anothercloset.dk.
    </p><p><strong>Cookies</strong></p><p>
      På www.anothercloset.dk anvendes cookies med det formål at optimere
      hjemmesiden og dets funktionalitet, og dermed gøre besøget så nemt som
      muligt for dig.
    </p><p>
      Du kan til enhver tid slette cookies fra din computer, se vejledningen på
      Webshop Cookies og Privatlivspolitik.
    </p><p><strong>Log-statistik</strong></p><p>
      Vi bruger en log-statistik på www.anothercloset.dk, hvilket betyder, at et
      statistik-system opsamler information, som kan give et statistisk billede
      af, hvor mange besøgende vi har, hvor de kommer fra og hvor på websitet
      det forlades mv.
    </p><p>
      Logstatistikken anvendes kun med det formål, at optimere Another Closet's
      hjemmeside.
    </p><p><strong>Forbrugerbeskyttelse</strong></p><p>
      Læs mere om din beskyttelse som forbruger når du køber via en PensoPay
      betalingsløsning:
    </p><p>
      <a href="https://pensopay.com/mere/forbrugerbeskyttelse/" target="_blank"
        >pensopay.com/mere/forbrugerbeskyttelse/</a
      >
    </p><p><strong>Klagemuligheder</strong></p><p>
      Klager over produkter kan sendes til:
    </p><p>
      Konkurrence- og Forbrugerstyrelsens Carl Jacobsens Vej 35 2500 Valby
      www.forbrug.dk
    </p><p>
      For EU-borgere uden for EU skal klager sendes via EU Kommissionens online
      klageplatform.
    </p><p>
      <a href="http://ec.europa.eu" target="_blank">ec.europa.eu</a>
    </p><p>
      Ved klage skal vores email adresse angives: hej@anothercloset.dk samt
      hjemmesiden du har købt varen på.
    </p>
  </main>
  <style>
    h1 {
      margin-bottom: 5%;
    }

    p,
    ul {
      margin-bottom: 2%;
    }
    li {
      margin-bottom: 0.5%;
    }

    b {
      color: var(--a-c-primary-neutral-green-100);
    }

    @media (min-width: 800px) {
      main {
        margin: 10%;
        margin-top: calc(10% + var(--headerheight));
      }
    }
  </style>
</Layout>
