---
import Layout from "../layouts/Layout.astro"

---

  <Layout titel="index">
    <main>
    <h1 data-aos="fade-in" data-aos-delay="300">Astro</h1>
    <!-- AOS Installeret! For dokumentation, se: https://michalsnik.github.io/aos/ -->
     <p>test</p>
    <a href="komponentershowcase">Komponenter - Magnus</a></main>
    </Layout>

