---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---
<Layout titel="Komponenter">
    <main>
        <h1>Stylesheet showcase (h1)</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <p>p</p>
        <a href="#">a</a>
    </main>
</Layout>