---
//${}

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>En mission om mindre spild og større ansvar</h1>
    <p>
      <b
        >VORES MISSION<br /> Vi gør det nemt, billigt og sjovt at skabe et sundere
        og mere klimavenligt tøjforbrug – én kjole ad gangen.</b
      >
    </p><p>
      Tøjindustrien er i dag en af de mest forurenende industrier i verden. Den
      stresser vores sind, tømmer vores pengepung og udnytter nogle af verdens
      mest udsatte mennesker.
    </p><p>
      Alligevel shopper vi som aldrig før. Vi køber tøj, vi ikke bruger og som
      ikke kan være i vores klædeskab.<br /><br />Det kan vi gøre bedre, og det
      skal vi gøre bedre!
    </p><p><b>AKTIVIST OG FORFATTER</b></p><p>
      Tina Werborg står bag Another Closet. Hun er forfatter, tøjaktivist og
      iværksætter. For små 10 år siden satte hun sig for at ændre måden, vi
      køber, bruger og skiller os af med vores tøj på. For selvom hun elsker
      tøj, er hun imod alt, hvad tøjbranchen står for i dag: overforbrug,
      forurening og dårlig samvittighed.
    </p><p>
      I 2021 udgav hun bogen "Garderobemanifestet – 10 gode grunde til at
      genoverveje dit næste tøjkøb". Her får du råd om, hvordan du kan bryde med
      fast fashion, rydde op i dit klædeskab og genforelske dig i alt det tøj,
      du allerede har.<br /><br />I 2021 udgav Tina Werborg bogen
      Garderobemanifestet – 10 gode grunde til at genoverveje dit næste tøjkøb.
      Bogen giver konkrete råd til, hvordan du kan bryde med fast fashion, rydde
      op i dit klædeskab og genopdage glæden ved det tøj, du allerede ejer
    </p><p>
      Hun er også bagkvinden bag eksperimenter som Et outfit, en uge og November
      uden nyt tøj.
    </p><p><b>ANOTHER CLOSET</b></p><p>
      I 2020 sprang Tina Werborg ud som iværksætter og startede det cirkulære
      tøjkoncept Another Closet.<br /><br />Another Closet er skabt med det
      formål at revolutionere måden, vi tænker og forbruger tøj og mode.
      Konceptet tilbyder kvinder en unik mulighed for hver måned at forny deres
      garderobe gennem medlemsbaserede tøjbytte-saloner, hvor tøj deles i et
      trygt og inspirerende fællesskab.<br /><br />Another Closet både fremmer
      tøjglæde og gør det nemt at tage et standpunkt mod overforbrug, spild og
      en modebranche, der bevæger sig i en forkert retning.
    </p><p>
      Læs om Another Closet i Danmarks Naturfredningsforenings magasin Natur &
      Miljø:<br /><a
        href="https://www.dn.dk/nyheder/ivaerksaetter-vil-tage-et-opgor-med-vores-enorme-forbrug-uden-at-ga-pa-kompromis-med-kaerligheden-til-toj/"
        >Iværksætter vil tage et opgør med vores enorme forbrug – uden at gå på
        kompromis med kærligheden til tøj</a
      >
    </p><p>
      <b>Lyt: Tøjkrisen</b><br />Har du lyst til at blive klogere på hele
      problematikken omkring tøjbranchen, kan du lytte til vores podcast, vi har
      lavet i samarbejde med Emilie Lilja og Tise.
    </p><p>
      <b>Læs: Garderobemanifestet</b><br />Tjek Garderobemanifestet - 10 gode
      grunde til at genoverveje dit næste tøjkøb på biblioteket, Saxo.com eller
      der, hvor du lytter til lyd-bøger.
    </p>
  </main>
  <style>
    h1 {
      margin-bottom: 5%;
    }

    p {
      margin-bottom: 2%;
    }

    b {
      color: var(--a-c-primary-neutral-green-100);
    }

    @media (min-width: 800px) {
      main {
        margin: 10%;
        margin-top: calc(10% + var(--headerheight));
      }
    }
  </style>
</Layout>
