---
import Layout from "../layouts/Layout.astro";
---

<Layout titel="Privatlivspolitk">
  <main>
    <h1>Cookies- og privatlivspolitik</h1>

    <p>
      Da Another Closet behandler personoplysninger, har vi vedtaget denne
      privatlivsbeskyttelsespolitik, så du ved, hvordan vi behandler dine data.
    </p><p>
      <b>1. Dataansvarlig og kontaktoplysninger</b><br />Another Closet er
      dataansvarlig, og vi sikrer, at dine persondata behandles i
      overensstemmelse med lovgivningen.
    </p><p>
      Kontaktoplysninger til Another Closet:<br />Another Closet<br />E-mail:
      tinawerborg@gmail.com
    </p><p>
      <b>2. Hvilke data indsamles</b><br />Vi anvender data om dig for at gøre
      servicen bedre og for, at sikre kvalitet i vores produkter og tjenester
      samt i kontakten med dig.
    </p><p>
      <b>2.1. Automatisk indsamlede data<br /></b>Another Closets hjemmeside er
      baseret på forskellige teknologier med det formål at sikre brugervenlighed
      og sikkerhed. Disse teknologier kan automatisk opsamle data for at kunne
      tilbyde den bedst mulige løsning, enten direkte af Another Closet eller af
      tredjeparts virksomheder på vegne af Another Closet. Analyse af data og
      placering af cookies er eksempler herpå.
    </p><p>
      Alle besøg til en digital løsning medfører, at der sendes oplysninger fra
      din browser til en server. Det er via analyse af disse data, at Another
      Closet optimerer de digitale løsninger. Data opsamles via tredjepart på
      vegne af Another Closet. Der kan opsamles data om din computer med henblik
      på systemadministration. Disse data er statistiske oplysninger om
      brugernes adfærd i de digitale løsninger. Eksempler på data der opsamles
      og eventuelt analyseres efterfølgende er:
    </p><ul>
      <li>Dato og tidspunkt for besøg på hjemmesiden</li><li>
        Oversigt over de sider der besøges i løsningen
      </li><li>IP-adressen på den besøgende</li><li>
        Oplysninger om den anvendte browser og enhed (type, version,
        operativsystem m.m.),
      </li><li>
        URL fra henvisningssted (siden, hvorfra den besøgende er kommet til
        hjemmesiden).
      </li><li>
        Another Closet anvender Google Analytics, som analyseredskab på
        hjemmesiden. I denne forbindelse sendes webanalyse data fra vores
        digitale løsninger til analyse i den service Google udbyder. Her
        fungerer Google Analytics som ”databehandler” af data vi er ansvarlige
        for, og disse data må kun videregives efter aftale eller for at
        overholde retslige krav.
      </li>
    </ul><p>Du kan se mere om Googles fortrolighedspolitik her:</p><p>
      https://www.google.com/intl/da/policies/
    </p><p><b>2.2. Oplysninger du selv afgiver</b></p><p>
      I tillæg til de oplysninger der opsamles automatisk, behandler vi også
      data, som brugere aktivt har givet til os.
    </p><p>Eksempler på data som brugere aktivt afgiver er:</p><ul>
      <li>
        Kontaktoplysninger ved anmodninger om tilbud eller andre henvendelser
        via kontaktformularerne
      </li><li>
        Oplysninger du deler med os via sociale medier, herunder LinkedIn,
        Instagram og Facebook
      </li><li>Oplysninger sendt på e-mail, herunder jobansøgninger o.l.</li>
    </ul><p>
      <b>3. Anvendelse og opbevaring af indsamlede data</b><br /><b
        >3.1. Formål med indsamling</b
      >
    </p><p>
      Nedenstående er eksempler på anvendelse af de indsamlede oplysninger:
    </p><ul>
      <li>Sikring af brugervenlighed og sikkerhed</li><li>
        Optimering af hjemmeside og indhold
      </li><li>Afgivelse af tilbud</li><li>Annoncering</li>
    </ul><p>
      <b>3.2. Opbevaring</b><br />Oplysningerne opbevares i det tidsrum, der er
      tilladt i henhold til lovgivningen, og de slettes, når de ikke længere er
      nødvendige. Perioden afhænger af karakteren af oplysningen og baggrunden
      for opbevaring. Konkret kan der oplyses følgende om opbevaringsperioder:
    </p><p>
      For så vidt angår Another Closets kunder, beholder jeg som udgangspunkt
      dine kontaktoplysninger og data, indtil 3 år efter kundeforholdets ophør
    </p><p>
      <b>3.3. Videregivelse af oplysninger<br /></b>Another Closet videregiver
      udelukkende kunders oplysninger til tredjepart i overensstemmelse med,
      hvad der er anført i denne privatlivspolitik.
    </p><p>
      Another Closet kan videregive dine oplysninger, såfremt jeg er forpligtet
      til at videregive eller dele data, for at overholde en retslig
      forpligtelse. Videregivelse kan også ske efter anvisning fra en domstol
      eller en anden myndighed, eller for at beskytte varemærker, rettigheder
      eller ejendom. Dette indebærer udveksling af oplysninger med andre
      virksomheder og organisationer med henblik på beskyttelse mod svindel.
    </p><p>
      Another Closet anvender tjenesteudbydere og databehandlere, der udfører
      arbejde på virksomhedens vegne. Another Closet benytter herudover en række
      tredjeparter til opbevaring og behandling af data. Disse vil være
      kontraktligt forpligtet til at behandle alle data strengt fortroligt, og
      har dermed ikke tilladelse til at anvende data til andet end, hvad der er
      omfattet af den kontraktuelle forpligtelse overfor os, og vi kontrollerer
      at vores samarbejdspartnere overholder disse forpligtelser.
    </p><p>
      Another Closet anvender kun databehandlere i EU eller i lande, der kan
      give dine oplysninger en tilstrækkelig beskyttelse. Såfremt Another Closet
      videregiver dine oplysninger til en tjenesteudbyder eller databehandler
      udenfor EU, sikrer jeg, at jeg overholder de krav lovgivningen stiller til
      sådanne overførsler.
    </p><p>
      Another Closets hjemmeside kan linke til andre hjemmesider. Benytter du
      sådanne link, forlader du Another Closets hjemmeside og er herefter
      undergivet andre betingelser og persondatapolitikker, som Another Closet
      ikke kan holdes ansvarlig for.
    </p><p>
      <b>4. Cookies</b><br />Another Closet anvender cookies, som gør det muligt
      at indsamle relevante oplysninger om hjemmesidens brugere, som anvendes
      til forbedring af hjemmesiden og dennes indhold. Dette gør sig ligeledes
      gældende i forhold til tredjeparts cookies.
    </p><p>
      <b>4.1. Hvad er cookies og hvorfor anvendes de?</b>Cookies er en tekstfil,
      som gemmes på din computer, smartphone eller anden enhed når du besøger en
      hjemmeside og har til formål at genkende den, huske dine indstillinger,
      udføre statistik og målrette annoncer specifikt til dig. En cookie er en
      passiv fil og kan ikke indsamle oplysninger på din computer, sprede virus
      eller andre skadelige programmer. Cookies anvendes af stort set alle
      hjemmesider.
    </p><p>
      Ved indsamling af oplysninger om antallet af brugere samt trafikken på
      hjemmesiden, åbner det muligheder for at få hjemmesiden til at fungere,
      lette brugen af den og ikke mindst målrette markedsføring til hjemmesidens
      brugere.
    </p><p>
      Hvis Another Closet placerer cookies, bliver du informeret om anvendelsen
      og formålet med at indsamle data via cookies. Før Another Closet placerer
      cookies på dit udstyr, beder vi om dit samtykke. Nødvendige cookies til
      sikring af funktionalitet og indstillinger kan dog anvendes dog uden dit
      samtykke.
    </p><p>
      <b>4.2. Hvilke cookies anvendes</b><br />Google<br />Facebook<br
      />Instagram<br />Linkedin
    </p><p>Cookies gemmes i 1 måned.</p><p>
      <b>4.3. Slet eller slå cookies fra i browseren</b>
    </p><p>
      Hvis du ikke ønsker, at der indsamles disse oplysninger har du til hver en
      tid mulighed for at slette dine cookies og fremadrettet undlade at bruge
      hjemmesiden.
    </p><p>
      Du kan også afvise cookies på din computer ved at ændre indstillingerne i
      din browser. Hvor du finder indstillingerne afhænger af, hvilken browser
      du anvender.
    </p><p>
      Du skal blot være opmærksom på, at hvis du sletter eller blokerer cookies
      vil annoncer kunne blive mindre relevante for dig, optræde hyppigere, og
      din færden på internettet vil gøres unødig besværlig. Du kan desuden
      risikere at hjemmesiden ikke fungerer optimalt, samt at der er indhold, du
      ikke kan få adgang til.
    </p><p>
      Alle browsere tillader, at du sletter dine cookies samlet eller enkeltvis.
      Hvordan du gør det afhænger af, hvilken browser du anvender. Husk, at
      bruger du flere browsere, skal du slette cookies i alle anvendte browsere.
    </p><p>
      <b>5. Dine rettigheder</b><br /><b>5.1. Generelt<br /></b>Hvis du ønsker
      at få adgang til dine data, få dem rettet eller slettet, eller gøre
      indsigelse mod Another Closets databehandling, undersøger jeg om det er
      muligt og giver dig svar på din henvendelse hurtigst muligt og senest en
      måned efter jeg har modtaget din henvendelse.
    </p><p>
      <b>5.2. Du har ret til at få adgang til dine persondata<br /></b>Du har
      til en enhver tid ret til at få oplyst, hvilke data Another Closet
      behandler om dig, hvor de stammer fra, og hvad de anvendes til. Du kan
      også få oplyst, hvor længe Another Closet opbevarer dine persondata, og
      hvem, der modtager data om dig, i det omfang jeg videregiver data i
      Danmark og i udlandet.
    </p><p>
      Hvis du anmoder om det, kan vi give dig adgang til de data, vi behandler
      om dig. Adgangen kan dog være begrænset af hensyn til andre personers
      privatlivsbeskyttelse, til forretningshemmeligheder og immaterielle
      rettigheder.
    </p><p>
      Du kan gøre brug af dine rettigheder ved at henvende dig til mig. Vores
      kontaktoplysninger finder du øverst under punkt 1.
    </p><p>
      <b
        >5.3. Du har ret til at få unøjagtige persondata rettet eller slettet.<br
        /></b
      >Hvis du mener, at de persondata, Another Closet behandler om dig, er
      unøjagtige, har du ret til at få dem rettet. Du skal henvende dig til mig
      og oplyse om, hvori unøjagtighederne består, og hvordan de kan rettes.
    </p><p>
      I nogle tilfælde vil vi have en forpligtelse til at slette dine
      persondata. Det gælder fx., hvis du ønsker at trække dit samtykke tilbage.
      Dit samtykke er frivilligt, og du kan til hver en tid trække det tilbage
      ved at henvende dig til os. Brug kontaktoplysningerne under punkt 1, hvis
      du ønsker at trække dit samtykke tilbage.
    </p><p>
      Hvis du mener, at dine data ikke længere er nødvendige i forhold til det
      formål, som vi indhentede dem til, kan du bede om at få dem slettet. Du
      kan også kontakte os, hvis du mener, at dine persondata bliver behandlet i
      strid med lovgivningen eller andre retlige forpligtelser.
    </p><p>
      Når du henvender dig med en anmodning om at få rettet eller slettet dine
      persondata, undersøger vi, om betingelserne er opfyldt, og gennemfører i
      så fald ændringer eller sletning så hurtigt som muligt.
    </p><p>
      <b
        >5.4. Du har ret til at gøre indsigelse mod vores behandling af dine
        persondata.<br /></b
      >Du har ret til at gøre indsigelse mod Another Closets behandling af dine
      persondata. Du kan også gøre indsigelse mod Another Closets videregivelse
      af dine data til markedsføringsformål. Du kan bruge kontaktoplysningerne
      øverst under punkt 1 til, at sende en indsigelse. Hvis din indsigelse er
      berettiget, sørger vi for at ophøre med behandlingen af dine persondata.
    </p><p>
      <b>5.5. Du har i visse tilfælde ret til at få dine data udleveret</b>
    </p><p>
      Du har ret til at modtage de persondata, du har stillet til rådighed for
      Another Closet, og dem, vi har indhentet om dig hos andre aktører på
      baggrund af dit samtykke. Hvis Another Closet behandler data om dig som
      led i en kontrakt, hvor du er part, kan du også få tilsendt dine data. Du
      har også ret til at overføre disse persondata til en anden
      tjenesteudbyder.
    </p><p>
      Hvis du ønsker at bruge din ret til data-portabilitet, vil du modtage dine
      persondata fra mig i et almindeligt anvendt format.
    </p><p>
      <b>5.6. Du har ret til at klage til Datatilsynet<br /></b>Another Closet
      er som dataansvarlig underlagt persondatalovgivningens (herunder EU’s
      persondataforordningen og national persondatalovgivning) bestemmelser om
      behandling af personlige oplysninger.
    </p><p>
      Oplever du en krænkelse af dit privatliv under brug af Another Closets
      hjemmeside eller ved anden interaktion med Another Closet, kan du klage
      til Datatilsynet.
    </p><p>
      Datatilsynets kontaktoplysninger:<br />Datatilsynet<br />Borgergade 28, 5.<br
      />1300 København K
    </p><p>Telefon: 33 19 32 00<br />Fax: 33 19 32 18</p><p>
      Mail: <a href="mailto:dt@datatilsynet.dk" target="_blank"
        >dt@datatilsynet.dk</a
      ><br /><a href="www.datatilsynet.dk" target="_blank"
        >www.datatilsynet.dk</a
      >
    </p><p>
      <b>6. Version</b><br />Denne privatlivspolitik er senest blevet ændret den
      26. oktober 2021.
    </p>
  </main>
  <style>
    h1 {
      margin-bottom: 5%;
    }

    p,
    ul {
      margin-bottom: 2%;
    }
    li {
      margin-bottom: 0.5%;
    }

    b {
      color: var(--a-c-primary-neutral-green-100);
    }

    @media (min-width: 800px) {
      main {
        margin: 10%;
        margin-top: calc(10% + var(--headerheight));
      }
    }
  </style>
</Layout>
