---
import CTA from "./CTA.astro";

const url = "https://lzmtfinlowhwlrztjvpr.supabase.co/rest/v1/closets";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6bXRmaW5sb3dod2xyenRqdnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4MjMwMTksImV4cCI6MjA2MzM5OTAxOX0.7etoSeq9SdawJ3_h6GNE8OcltmXRj_92v4DWywE8myw";

const options = { headers: { apikey: key } };

const data: any[] = await fetch(url, options).then((res) => res.json());
---

<div class="hero_section">
  <h1>Find dit tøjfællesskab!</h1>
  <div class="hvor-bor-du">
    <p class="subtitle1">
      Hvor bor du?<p>
        <div class="closet_container_parent">
          <div class="closet_container">
            <a class="box item1" href="/closets/aau-copenhagen">AAU København</a
            >
            <a class="box item2" href="/closets/fredericia">Frederecia</a>
            <a class="box item3" href="/closets/kea">KEA</a>
            <a class="box item4" href="/closets/lyngby">Lyngby</a>
            <a class="box item5" href="/closets/norrebro">Nørrebro</a>
            <a class="box item6" href="/closets/ribe">Ribe</a>
            <a class="box item7" href="/closets/ringkobing">Ringkøbing</a>
            <a class="box item8" href="/closets/roskilde">Roskilde</a>
            <a class="box item9" href="/closets/toj-til-leje">Tøj til leje</a>
          </div>
        </div>
      </p>
      <div class="ikke-paa-listen">
        <p class="subtitle1">Er din by ikke på listen?</p>
        <p class="body1_regular">
          Vi har fart på og åbner konstant nye tøjfællesskaber, så endnu flere
          kvinder kan dele tøj i stedet for at købe nyt.
        </p>
        <span></span>
        <p class="body1_regular">
          Skriv dig på ventelisten, og vær den første til at få besked, når vi
          åbner i nærheden af dig, eller hør hvordan, du starter dit eget
          tøjfællesskab.
        </p>
        <div class="buttons">
          <CTA />
        </div>
      </div>

      <style>
        a {
          color: var(--AC-Black-Black-80, rgba(2, 6, 1, 0.8));
          font-family: "Lexend", sans-serif;
          font-size: 1.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.5rem;
          text-decoration: none;
        }

        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        .subtitle1 {
          margin-bottom: 20px;
        }
        span {
          margin: 20px;
        }

        .hero_section {
          flex-shrink: 0;
        }

        .hero_section h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
          margin-bottom: 80px;
          margin-top: 80px;
        }

        .hero_section .hvor-bor-du .subtitle1 {
          text-align: center;
        }

        .closet_container_parent {
          max-width: 650px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
        }

        .hero_section .hvor-bor-du .closet_container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
        }

        .hero_section .hvor-bor-du .closet_container a {
          display: flex;
          padding: 0.75vh 1.5vh;
          justify-content: center;
          align-items: center;
          align-self: stretch;
          border-radius: 1.25rem;
          background: var(--AC-Primary-Green-20, rgba(108, 185, 70, 0.2));
          text-align: center;
        }

        .hero_section .hvor-bor-du .closet_container a:hover {
          animation-name: boxHover;
          animation-duration: 400ms;
          animation-iteration-count: 1;
          animation-fill-mode: both;
        }

        @keyframes boxHover {
          0% {
            background-color: var(
              --AC-Primary-Green-20,
              rgba(108, 185, 70, 0.2)
            );
            border: 1px solid
              var(--AC-Primary-Neutral-Green-20, rgba(45, 77, 29, 0));
          }
          100% {
            background-color: var(--AC-Primary-Green-20, rgba(108, 185, 70, 0));
            border: 1px solid
              var(--AC-Primary-Neutral-Green-20, rgba(45, 77, 29, 0.2));
          }
        }

        .hero_section .ikke-paa-listen .subtitle1 {
          text-align: center;
        }

        .hero_section .ikke-paa-listen {
          display: flex;
          flex-direction: column;
          justify-self: center;
        }

        .hero_section .ikke-paa-listen p {
          text-align: center;
        }
      </style>
    </p>
  </div>
</div>
