---
const { linkcontext } = Astro.props;
---

<header>
  <a href=`${linkcontext || "/"}` class="logo"></a>
  <nav>
    <a href="" class="headerlink">FAQ</a>
    <a href="" class="headerlink">Log ind</a>
    <a href="" class="cta-small">Bliv medlem</a>
  </nav>
</header>
<style>
  header {
    background-color: var(--a-c-pagecol);
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    position: relative;
    border-style: solid;
    border-width: 0px 0px 2px;
    border-color: var(--a-c-primary-neutral-green-100);
    height: var(--headerheight-mobile);
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 4vw;
    gap: 7vw;
  }
  a.logo {
    mask-image: url(../assets/logo/small.webp);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--a-c-primary-neutral-green-100);
    height: 100%;
    aspect-ratio: 2/1;
    transform: scale(70%);
    transition: background-color, 0.3s;
  }
  a.headerlink {
    color: var(--a-c-primary-neutral-green-100);

    text-decoration: none;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 500;
    transition: color, 0.3s;
    font-size: 70%;
  }
  a.cta-small {
    font-size: 70%;
    padding: 1.8%;
  }

  a.logo:hover {
    background-color: var(--a-c-primary-green-100);
  }
  a.headerlink:hover {
    color: var(--a-c-primary-green-100);
  }

  @media (min-width: 800px) {
    a.logo {
      mask-image: url(../assets/logo/large.webp);
      aspect-ratio: 6/1;
      transform: scale(80%) translateX(-10%);
    }
    header {
      height: var(--headerheight);
    }
    a.headerlink {
      font-size: 100%;
    }
    a.cta-small {
      font-size: 100%;
      padding: 0.8%;
    }
  }
</style>
