---
//${}
import Productcard from "./Productcard.astro";
import Infocard from "./Infocard.astro";
---

<!-- Herunder skal selvfølgelig defineres dynamisk, når det kommer til stykket: -->
<h1>Medlemmers favoritter</h1>
<section>
  <Productcard />

  <!-- <Infocard
    cardtitle="Og meget mere..."
    cardtext="Tilmeld dig Another Closet og begynd at låne i dag!"
    cardcta="Bliv medlem"
    cardlink="#"
  /> -->
</section>

<style>
  section {
    margin: 33px;
    margin-bottom: 233px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
  }
  @media (min-width: 800px) {
    section {
      /* width: 1110px; */
      margin: 145px;
      margin-bottom: 245px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
