---
//${}
import Productcard from "./Productcard.astro";
import Infocard from "./Infocard.astro";
const { sectiontitle } = Astro.props;
---

<!-- Herunder skal selvfølgelig defineres dynamisk, når det kommer til stykket: -->
<h1>{sectiontitle}</h1>
<section>
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />
  <Productcard
    image="https://c.tenor.com/7e7npF7hVpcAAAAC/tenor.gif"
    alt="catfish :DD"
    brandname="Placeholder"
    itemsize="XS"
    itemname="Catfishe :DD"
    itemlink="#"
    closetname="Atlantis"
    closetlink="#"
  />

  <Infocard
    cardtitle="Og meget mere..."
    cardtext="Tilmeld dig Another Closet og begynd at låne i dag!"
    cardcta="Bliv medlem"
    cardlink="#"
  />
</section>

<style>
  section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
  }
  @media (min-width: 800px) {
    section {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
