---
import 'aos/dist/aos.css';
import '../styles/global.css';
const {titel} = Astro.props;

---
<html lang="da">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titel}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
      </head>
  <body>
    <slot />
  </body>
  <script>
    import AOS from "aos";
    AOS.init();
  </script>

</html>